@import 'reset';

$fontStack: Helvetica, sans-serif;
$darkGrey: #444;
$grey: #666;
$lightGrey: #eee;
$white: #fff;
$black: #111;
$blue: #2DB2F9;

// ************************************************************
// all
// ************************************************************
body {
  font-family: $fontStack;
  width: 60%;
  margin: 100px auto;
  color: $darkGrey;
}
h1 {
  font-weight: 400;
  font-size: 60px;
  padding-bottom: 20px;
}
p, li {
  letter-spacing: 1.2px;
  list-style: none;
  padding-bottom: 10px;
  line-height: 22px;
}
p {
  line-height: 26px;
}
a {
  text-decoration: none;
  color: $blue;
}
h2, h3, h4 {
  text-align: left;
  color: $grey;
  text-transform: uppercase;
  padding-bottom: 6px;
}
h2 {
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  border-bottom: 10px solid $lightGrey;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 16px;
  text-transform: none;
  letter-spacing: 1px;
}
h5 {
  color: $darkGrey;
  font-size: 14px;
  padding: 10px 0;
  letter-spacing: 1px;
}
.subH3 {
  display: inline-block;
  font-size: 12px;
  text-transform: none;
}
main div {
  margin-top: 60px;
}
.share {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.right {
  text-align: right;
}
.list-links a {
  font-size: 14px;
}
li .list-links a {
  font-size: 12px;
}
.list-links a::after {
  content: " |";
  color: $black;
  font-weight: bold;
}
.list-links a:last-child::after {
  content: "";
}
#pdf {
  display: inline-block;
  font-size: 20px;
  padding: 60px 0;
}

// ************************************************************
// header
// ************************************************************

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
header h3 span {
  display: block;
  margin-top: 9px;
}
header h3 {
  padding-left: 20px;
}
#profileImg {
  display: inline-block;
  background-image: url('../images/grey_blue_profile.jpg');
  background-size: 225px;
  background-repeat: no-repeat;
  height: 200px;
  max-width: 200px;
  border-radius: 200px;
  flex: 1;
  margin: 0 auto;
}
#intro {
  text-align: center;
  letter-spacing: 4px;
}
#contact {
  text-align: left;
  padding: 30px 0 0 20px;
  letter-spacing: 1px;
  font-size: 12px;
}
#contact p {
  padding: 4px 0 8px 4px;
  line-height: 8px;
}
#contact #userLinks {
  width: 120px;
}
#githubImg, #twitterImg, #linkedInImg {
  margin: 10px 5px 0 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#githubImg {
  background-image: url('../images/github.png');
  background-position: -35px -10px;
  background-size: 100px;
}
#twitterImg {
  background-image: url('../images/twitter.png');
  background-position: 0 2px;
  background-size: 26px;
}
#linkedInImg {
  background-image: url('../images/linkedIn.png');
  background-position: 0 2px;
  background-size: 26px;
}

// ************************************************************
// philosophy
// ************************************************************

#philosophy ul {
  padding-left: 1em; 
}
#philosophy li {
  list-style: disc; 
}

// ************************************************************
// organizations
// ************************************************************

.organizations ul {
  margin-top: 10px;
  padding-left: 1em; 
}
.organizations li {
  list-style: disc; 
}
.organizations h3 {
  padding-top: 34px;
}
.organizations h3:first-of-type {
  padding-top: 0;
}
.organizations h5 a {
  color: $darkGrey;
  border: 1px solid $darkGrey;
  padding: 2px 4px;
  margin-right: 2px;
  border-radius: 4px;
  font-size: 10px;
}

// ************************************************************
// technologies
// ************************************************************

#technologies {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    padding: 6px 10px;
    border: 1px solid $black;
    margin: 10px 3px;
    color: $darkGrey;
    cursor: default;
  }
  a {
    color: $darkGrey;
    cursor: pointer;
  }
  a:hover {
    color: $grey;
  }

  h2 {
    display: block;
    width: 100%;
    border: none;
  }
}

// ************************************************************
// projects
// ************************************************************

#projects {
  margin: 30px 0;
}
.projectDisplay {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}
.projectDisplay h3 {
  width: 100%;
}
.projectDisplay ul {
  padding-left: 0;
}
#portfolio_tstory {
  background-image: url('../images/portfolio_tstory.jpg');
}
#portfolio_vim {
  background-image: url('../images/portfolio_vim.jpg');
}
#portfolio_share_my_repo {
  background-image: url('../images/portfolio_share_my_repo.jpg');
}
#portfolio_cbsa {
  background-image: url('../images/portfolio_cbsa.jpg');
}
.projectImg {
  display: inline-block;
  min-height: 100px;
  min-width: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  flex: 1;
}
.projectImg:hover {
  cursor: pointer;
}
.projectImg + ul {
  flex: 2;
}
.projectImg + ul li {
  list-style: none;
  font-size: 14px;
}

// ************************************************************
// about
// ************************************************************
#about ul li {
  padding-left: 20px; 
}
#about .title {
  font-weight: bold;
  padding-left: 0; 
}

// ************************************************************
// experience
// ************************************************************

#experience h5 {
  padding: 0;
  font-style: italic;
}

// ************************************************************
// media queries
// ************************************************************

@media (max-width: 950px) {
  body {
    width: 90%;
    margin: 30px auto;
  }
  p {
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0;
  }
  #profileImg {
    display: absolute;
    background-size: 140px;
    background-position: -10px 0px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    top: 180px;
  }
  #intro {
    flex: 100%;
  }
  #contact {
    margin-top: 150px;
  }
  #profileImg {
    position: absolute;
    margin: auto;
    left: 50%;
    margin-left: -50px;
  }
  header h1 {
    font-size: 40px;
  }
  header h3 {
    text-align: center;
    padding-left: 0;
  }
  #contact {
    padding: 20px 0 0 0;
  }
  #contact p, #contact a {
    display: inline-block;
    padding: 4px 0px;
    text-align: center
  }
  #contact p {
    display: block;
    width: 100%;
  }
  #contact #userLinks {
    margin: auto;
  }
  aside {
    margin-top: 40px;
  }
  li strong {
    display: block;
  }
  li {
    font-size: 12px;
    line-height: 16px;
  }
  .leadership li a {
    display: block;
    line-height: 20px;
    padding-left: 20px;
  }
  .leadership li a::after {
    content: "";
  }
  .share, .right {
    display: block;
    width: 100%;
    text-align: left;
  }
  .projectDisplay {
    display: block;
  }
  .projectDisplay ul li {
    font-size: 12px;
  }
  h4 {
    font-size: 12px;
  }
  
}
