@import 'reset';

$fontStack:    Helvetica, sans-serif;
$darkGrey: #444;
$grey: #666;
$lightGrey: #eee;
$white: #fff;
$black: #111;

body {
  font-family: $fontStack;
  width: 60%;
  margin: 100px auto;
  color: $darkGrey;
}

li {
  letter-spacing: 2px;
  list-style: none;
  padding: 20px 10px 2px 40px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $darkGrey;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#profileImg {
  display: inline-block;
  background-image: url('../images/grey_blue_profile.jpg');
  background-size: 225px;
  background-repeat: no-repeat;
  height: 200px;
  max-width: 200px;
  border-radius: 200px;
  flex: 1;
  margin: 0 auto;
}

#title {
  text-align: center;
  letter-spacing: 4px;
}

#title h3 span {
  display: block;
  margin-top: 9px;
}

header h1 {
  font-weight: 400;
  font-size: 60px;
}

h3 {
  text-transform: uppercase;
  color: $grey;
  font-size: 20px;
  text-align: left;
  letter-spacing: 4px;
  padding: 60px 0 10px 20px;
  margin-top: 20px;
  border-bottom: 10px solid $lightGrey;
}

#title h3 {
  padding: 0 0 10px 20px;
  font-size: 14px;
}

section {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;

  a {
    padding: 6px 10px;
    border: 1px solid $black;
    margin: 10px 3px;
  }

  a:hover {
    color: $grey;
    border: 1px solid $grey;
  }
}

#contact {
  text-align: left;
  padding: 30px 0 0 20px;
  letter-spacing: 1px;
  font-size: 12px;
}

#contact p {
  padding: 4px;
}

#contact #userLinks {
  width: 80px;
}

#projects {
  margin: 30px 0;
}

.projectDisplay {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
}

.projectImg {
  display: inline-block;
  min-height: 200px;
  min-width: 300px;
  background-size: 300px;
  background-repeat: no-repeat;
  flex: 1;
}

.projectImg:hover {
  cursor: pointer;
}

.projectImg + ul {
  margin: 20px;
  list-style: none;
  flex: 2;
}

.projectImg + ul li {
  padding: 10px 0;
  font-size: 16px;
}

#githubImg, #udacityImg {
  margin: 10px 5px 0 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#githubImg {
  background-image: url('../images/github.png');
  background-position: -35px -10px;
  background-size: 100px;
}

#udacityImg {
  background-image: url('../images/udacity.svg');
  background-position: 0 2px;
  background-size: 26px;
}

#projectImg1 {
  background-image: url('../images/project1.jpg');
}

#projectImg2 {
  background-image: url('../images/project2.jpg');
}

@media (max-width: 950px) {
  body {
    width: 80%;
    margin: 80px auto;
  }
  #profileImg {
    background-size: 140px;
    background-position: -10px 0px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    margin-top: 40px;
  }

  #title {
    flex: 100%;
  }

  #contact {
    margin-top: 150px;
  }

  #profileImg {
    position: absolute;
    margin: auto;
    left: 50%;
    margin-left: -50px;
  }


  header h1 {
    font-size: 40px;
  }

  h3 {
    text-align: center;
    padding-left: 0;
  }

  #contact {
    padding: 20px 0 0 0;
  }

  #contact p, #contact a {
    display: inline-block;
    padding: 4px 0px;
    text-align: center
  }

  #contact p {
    display: block;
    width: 100%;
  }

  #contact #userLinks {
    margin: auto;
  }

  aside {
    margin-top: 40px;
  }
  li strong {
    display: block;
  }
}
